.todo {
    &__status {
        &-completed {
            border-left: 3px solid green;
        }
        &-in-progress {
            border-left: 3px solid crimson;
        }
    }
    &__content {
        display: flex;
        &__text-block {
            display: flex;
            flex-direction: column;
            flex: 1
        }
    }
}