.todo {
    overflow-y: scroll;
    min-width: 100%;
    max-width: 400px;
    max-height: 300px;
    &Status {
        &Completed {
            border-left: 3px solid green;
        }
        &InProgress {
            border-left: 3px solid crimson;
        }
    }
    &Content {
        display: flex;
        &TextBlock {
            display: flex;
            flex-direction: column;
            flex: 1
        }
    }
}