.todo {
    &__status {
        height: 100%;
        padding:3px;
        &-completed {
            background-color: green
        }
        &-in-progress {
            background-color: crimson
        }
    }
    &-content {
        display: flex;
        justify-content: start;
        &__text-block {
            display: flex;
            flex-direction: column;
            flex: 1
        }
    }
}